<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="fields">
    <p class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    
    <p class="field">
      <%= f.label :published_at %>
      <%= f.text_field :published_at %>
    </p>
    
    <p class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </p>
    
    <p class="field">
      <%= f.label :tags %>
      <%= f.text_field :tags, :value => @post.tags.join(', ') %>
    </p>
  </div>

  <p class="actions">
    <%= f.submit "Save" %>
  </p>
<% end %>
