<%= render :partial => 'sidebar_title' %>

<div class="post bordered">
  <div class="title">
    <h1>
      Editing post "<%= @post.title %>"
    </h1>
  </div>
  
  <p>
    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>
  </p>
  
  <%= render 'form' %>
</div>
