<!DOCTYPE html>
<html>
<head>
  <title>
    <%= Mist.title %>
    <% if @post %>
      - <%= @post.title %>
    <% end %>
  </title>
  
  <%= auto_discovery_link_tag :atom, feed_posts_path(:format => :atom) %>
  <%= stylesheet_link_tag    "mist_core"  %>
  <%= stylesheet_link_tag    "mist"       %>
  <%= javascript_include_tag "mist_core"  %>
  <%= javascript_include_tag "mist"       %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :header %>
  
  <div id="sidebar">
    <%= yield :sidebar %>
  
    <% unless similar_posts.empty? %>
      <div id="sidebar-similar-posts" class="sidebar bordered">
        <h3>Similar Posts</h3>
        <ul>
          <% similar_posts.each do |post| %>
            <li> <%= link_to post.title, post_path(post) %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% unless popular_posts.empty? %>
      <div id="sidebar-popular-posts" class="sidebar bordered">
        <h3>Popular Posts</h3>
        <ul>
          <% popular_posts.each do |post| %>
            <li> <%= link_to post.title, post_path(post) %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <% unless recent_posts.empty? %>
      <div id="sidebar-recent-posts" class="sidebar bordered">
        <h3>Recent Posts</h3>
        <ul>
          <% recent_posts.each do |post| %>
            <li> <%= link_to post.title, post_path(post) %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="content">
    <%= yield %>
  </div>
  
  <div id="footer">
    <p>Powered by <%= link_to "Mist", 'http://github.com/sinisterchipmunk/mist' %> <%= Mist::VERSION %></p>
  </div>
</body>
</html>
