<% content_for :sidebar do %>
  <div class="banner sidebar bordered">
    <%= link_to 'Blog Title', posts_path %>
  </div>

  <% unless similar_posts.empty? %>
    <div id="sidebar-similar-posts" class="sidebar bordered">
      <h3>Similar Posts</h3>
      <ul>
        <% similar_posts.each do |post| %>
          <li> <%= link_to post.title, post_path(post) %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% content_for :subcaption do %>
  <p id="notice"><%= notice %></p>
<% end %>

<%= render :partial => 'post', :locals => { :post => @post, :preview => false } %>

<div class="other-posts">
  <div id="previous-post">
    <%= link_to "Rolling the Dice", '/' %>
  </div>

  <div id="next-post">
    <%= link_to "What Makes Developers Tick", '/' %>
  </div>
</div>
