<!DOCTYPE html>
<html>
<head>
  <title>Mist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield :header %>

  <div id="sidebar">
    <%= yield :sidebar %>
  
    <div id="sidebar-similar-posts" class="sidebar bordered">
      <h3>Similar Posts</h3>
      <ul>
        <li> <%= link_to "Rolling the Dice", '/' %> </li>
        <li> <%= link_to "What Makes Developers Tick", '/' %> </li>
      </ul>
    </div>

    <div id="sidebar-popular-posts" class="sidebar bordered">
      <h3>Popular Posts</h3>
      <ul>
        <li> <%= link_to "The Problem With The World Today", '/' %> </li>
        <li> <%= link_to "Why Robots Are Cool", '/' %> </li>
      </ul>
    </div>
  
    <% unless recent_posts.empty? %>
      <div id="sidebar-recent-posts" class="sidebar bordered">
        <h3>Recent Posts</h3>
        <ul>
          <% recent_posts.each do |post| %>
            <li> <%= link_to post.title, post_path(post) %> </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="content">
    <%= yield %>
  </div>
  
  <div id="footer">
    <p>Powered by <%= link_to "Mist", 'http://github.com/sinisterchipmunk/mist' %> <%= Mist::VERSION %></p>
  </div>
</body>
</html>
